body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbeaff;
    color: #333;
    margin: 0;
    padding: 0;
}

.memories {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    background-color: #ffcce7;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    font-size: 3em;
    color: #b30059;
}

main section {
    margin-bottom: 30px;
}

main section h2 {
    font-size: 2em;
    color: #b30059;
    margin-bottom: 10px;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.photo-gallery img {
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #b30059;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#scrollToTop:hover {
    background-color: #800040;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffcce7;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}