body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbeaff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: #b30059;
    margin-bottom: 20px;
}

section#memories {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

video {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

video:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Add some spacing and decoration */
section#memories:nth-child(odd) {
    background-color: #ffe6f2;
}